<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netlify CMS Parent Widget Example</title>
  </head>
  <body>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"></script>
    <%= htmlWebpackPlugin.tags.bodyTags %>
    <script>
      const parentWidget = window.NetlifyCmsWidgetParent;
      CMS.registerWidget('parent', parentWidget.control, parentWidget.preview);
    </script>
  </body>
</html>
