name: release-please
on:
  push:
    branches:
      - main
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/github-app-token-generator@757386febfca7206eca81593f81558cd99bcee12
        id: get-token
        with:
          private-key: ${{ secrets.PRIVATE_KEY }}
          app-id: ${{ secrets.APP_ID }}

      - uses: GoogleCloudPlatform/release-please-action@v3
        with:
          token: ${{ steps.get-token.outputs.token }}
          release-type: node
          package-name: '@netlify/netlify-cms-widget-parent'
